/build
/google-services.json
/src/debug/assets/applanga_meta.xml
/src/staging/assets/applanga_meta.xml
/src/production/assets/applanga_meta.xml
/src/release/assets/applanga_meta.xml
/src/main/assets/containers/GTM-TT4LX6M.json